<%- include('header'); -%>

    <div class="box" id="heading">
        <h1> <%=listTitle%> </h1>
    </div>

    <div class="box">

        <% newListItem.forEach(function(item){ %>
            <form action="/delete" method="post">
                <div class="item">
                <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()"> 
                <p> <%= item.name %> </p>
                </div>
                <input type="hidden" name="listName" value="<%=listTitle%>"></input>
            </form>
        <% }) %>


    <!-- creating form to get post request as we enter new item in our todo list -->
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="new item" autocomplete="off">  <!-- we dont need suggestion so we wrote autocomplete -off-->
            <button type="submit" name="list" value="<%=listTitle%>">+</button>
        </form>
        
    </div> 

<%- include('footer'); -%>